<div>
  <div class="container">
    <div class="panel panel-default panel-inverse">
      <div class="panel-heading">
        <h3>Просмотр успеваемости</h3>
      </div>
      <div class="panel-body">
        <div class="select-block">
          <div class="faculty-block row-block">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Выберите институт/факультет</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option value="" disabled selected style='display:none;'>Выберите институт/факультет</option>
                <option>Институт фундаментальных наук</option>
                <option>Институт экономики и права</option>
              </select>
            </div>
          </div>
          <div class="speciality-block row-block">
            <label for="exampleFormControlSelect1">Выберите направление/специальность</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option value="" disabled selected style='display:none;'>Выберите направление/специальность</option>
              <option>ФИиИт</option>
              <option>МОиАИС</option>
            </select>
          </div>
          <div class="year-block row-block-date">
            <label for="exampleFormControlSelect1">Курс</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>4</option>
              <option>3</option>
              <option>2</option>
              <option>1</option>
            </select>
          </div>
          <div class="semestr-block row-block-date">
            <label for="exampleFormControlSelect1">Семестр</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
            </select>
          </div>

        </div>
        <div class="table-block">
          <div class="tabs-block">
            <div class="name-discipline col1 tab-form">
              <span>Название дисциплины</span>
            </div>
            <div class="current-points col2 tab-form">
              <span>Баллы за семестр</span>
            </div>
            <div class="attestation-points col3 tab-form">
              <span>Баллы за зачет/экзамен</span>
            </div>
            <div class="finish-points col4 tab-form">
              <span>Итоговый балл</span>
            </div>
            <div class="appraisal col5 tab-form">
              <span>Оценка</span>
            </div>
          </div>
          <div class="content-table">
            <div class="row-table" *ngFor="let discipline of disciplins">
              <div class="name-discipline-tr col1 tr-form">
                <span>{{ discipline.name_discipline }}</span>
              </div>
              <div class="current-points-tr col2 tr-form">
                <span>{{ discipline.current_points }} из {{ discipline.current_points_all }}</span>
              </div>
              <div class="attestation-points-tr col3 tr-form">
                <span>{{ discipline.attestation_points }} из {{ discipline.attestation_points_all }}</span>
              </div>
              <div class="finish-points-tr col4 tr-form">
                <span>{{ discipline.finish_points }}</span>
              </div>
              <div class="appraisal-tr col5 tr-form">
                <span>{{ discipline.appraisal }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>