.select-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.row-block {
  width: 100%;
}

.row-block:not(:first-of-type) {
  margin-left: 10px;
}

.row-block-date {
  width: 100px;
  margin-left: 10px;
}

.tabs-block {
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 4px;

}


.table-block {
  font-size: 12px;
}


.tab-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: #f6f6f6;
  padding: 10px;
}

.tab-form:not(:last-child) {
  box-shadow: 10px 0px 0px -9px #cccccc;
}

.name-discipline {
  z-index: 5;
}

.current-points {
  z-index: 4;
}

.percent-points {
  z-index: 3;
}

.year {
  z-index: 2;
}

.semestr {
  z-index: 1;
}

.col1 {
  width: 40%;
}

.col2,
.col3,
.col4,
.col5 {
  width: 15%;
}


.tr-form {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.name-discipline-tr {
  justify-content: left;
}

.row-table:hover {
  background-color: #f6f6f6;
}

.content-table {
  border-radius: 4px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.tr-container {
  display: flex;
  cursor: pointer;
}

.dropdown-table {
  margin: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.tab-dd-form:not(:last-child) {
  box-shadow: 5px 0px 0px -4px #cccccc;
}

.dropdown-tabs, .dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
}

.tab-dd-form, .tr-dd-form {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}