<div>
    <div class="header-panel-body">
        <h3>Информация об аттестации</h3>
    </div>
    <div class="filter-block">
        <div class="search">
            <input type="text" placeholder="Введите поисковый запрос" [(ngModel)]="searchText" (input)="startSearch()">
            <div class="btn-clean" *ngIf="searchText" (click)="cleanSearch()"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>
        <div class="certification-block" style="display: flex" *ngIf="statusCertification < 3">
            <div class="certification-status unsatisfactory">
                <span title="У вас есть незакрытые предметы">{{countBadCertification}}</span>
            </div>

            <button *ngIf="filterBadCertification == false" (click)="filterByBadCertification()" pButton type="button"
                    icon="pi pi-search" class="ui-button-secondary" title="Посмотреть предметы"></button>
            <button *ngIf="filterBadCertification" (click)="resetList()" pButton type="button"
                    icon="pi pi-times" class="ui-button-secondary" title="Сбросить"></button>
        </div>
    </div>
    <!--    <p-dropdown [style]="{'width':'100%'}"
                    [options]="certificationLessonList"
                    [(ngModel)]="selectedCertificationLesson" (onChange)="changeCertificationLesson()"
                    optionLabel="lesson.discipline.name"
                    placeholder="Выберите предмет">
        </p-dropdown>-->
    <p-dialog [header]="modalInfo ? modalInfo.lesson.discipline.name : ''" [(visible)]="display"
              [style]="{width: '50vw'}">
        <div class="content" *ngIf="modalInfo">
            <div class="title-block">
                <div class="title str">
                    <span>Набрано баллов:</span>
                </div>
                <div class="title str">
                    <span>Аттестационный балл:</span>
                </div>
                <div class="title str">
                    <span>Была ли явка:</span>
                </div>
                <div class="title str">
                    <span>Дата:</span>
                </div>
                <div class="title str">
                    <span>Оценка:</span>
                </div>
            </div>
            <div class="data-block">
                <div class="data str" [ngClass]="{
                        'unsatisfactory': modalInfo.statusGotPoints <= 2,
                        'satisfactorily': modalInfo.statusGotPoints == 3,
                        'good': modalInfo.statusGotPoints == 4,
                        'perfectly': modalInfo.statusGotPoints > 4
                    }">
                    <span>{{modalInfo.currentPoints}} / {{modalInfo.maxGotPoints}}</span>
                </div>
                <div class="data str" [ngClass]="{
                        'unsatisfactory': modalInfo.statusCertificationPoints <= 2,
                        'satisfactorily': modalInfo.statusCertificationPoints == 3,
                        'good': modalInfo.statusCertificationPoints == 4,
                        'perfectly': modalInfo.statusCertificationPoints > 4
                    }">
                    <span>{{modalInfo.currentCertificationPoints}} / {{modalInfo.maxCertificationPoints}}</span>
                </div>
                <div class="data str" [ngClass]="{
                        'unsatisfactory': modalInfo.absence == false,
                        'perfectly': modalInfo.absence == true
                    }">
                    <span>{{ modalInfo.absence ? 'да' : 'нет'  }}</span>
                </div>
                <div class="data str">
                    <span>{{ modalInfo.date.split(' ')[0] ? modalInfo.date.split(' ')[0] : '-' }}</span>
                </div>
                <div class="data str" [ngClass]="{
                        'unsatisfactory': modalInfo.statusCertificationId <= 2,
                        'satisfactorily': modalInfo.statusCertificationId == 3,
                        'good': modalInfo.statusCertificationId == 4,
                        'perfectly': modalInfo.statusCertificationId > 4
                    }">
                    <span>{{ modalInfo.statusCertification }}</span>
                </div>
            </div>
        </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Закрыть"
                    class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>
    <div class="lesson-table">
        <!-- Вкладки таблицы предметов-->
        <div class="table-tabs">
            <!-- Название предмета -->
            <div class="tab">
                <span>Название предмета</span>
            </div>
            <!-- Год -->
            <div class="tab">
                <span>Год</span>
            </div>
            <!-- Семестр -->
            <div class="tab">
                <span>Семестр</span>
            </div>
            <!-- Статус аттестации -->
            <div class="tab">
                <span>Статус аттестации </span>
            </div>
        </div>
        <!-- Контент таблицы-->
        <div class="table-content">
            <!-- Строка таблицы-->
            <div class="str-table" *ngFor="let lesson of certificationLessonList;let index=index"
                 (click)="showInformationModal(lesson)">
                <!-- Название предмета -->
                <div class="str-tr">
                    <span>{{ lesson.lesson.discipline.name }}</span>
                </div>
                <!-- Год -->
                <div class="str-tr">
                    <span>{{ lesson.lesson.semesterNumberYear.year }}</span>
                </div>
                <!-- Семестр -->
                <div class="str-tr">
                    <span>{{ lesson.lesson.semesterNumberYear.semester }}</span>
                </div>
                <!-- Статус аттестации statusCertificationId-->
                <div class="str-tr">
                    <div class="certification-form" [ngClass]="{
                        'unsatisfactory': lesson.statusCertificationId <= 2,
                        'satisfactorily': lesson.statusCertificationId == 3,
                        'good': lesson.statusCertificationId == 4,
                        'perfectly': lesson.statusCertificationId > 4
                    }">
                        <span>{{ lesson.statusCertification }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>