<div class="ui-g ">
    <semester-picker class="ui-g-5" style="display: inline-block" (ngModelChange)="getProfessorLessons()"
        [semesterNumberYear]="semesterNumberYear"></semester-picker>
    
        <div class="ui-g-7">
        <div *ngIf="!lessonCertificationList || lessonCertificationList.length==0">
            Расписание не заполнено
        </div>
        <p-dropdown [style]="{'width':'100%'}" *ngIf="lessonCertificationList && lessonCertificationList.length>0"
            [(ngModel)]="this.selectedLessonCertification" (onChange)="loadData($event.value)" [options]="lessonCertificationListForMenu" 
            placeholder="Выбор дисциплины">
            <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle">{{item.value.lesson.group.name}}
                    {{item.value.lesson.discipline.name}} </span>
            </ng-template>
            <ng-template let-cert pTemplate="item">
                <div>{{cert.value.lesson.group.name}} {{cert.value.lesson.discipline.name}}</div>
            </ng-template>
        </p-dropdown>
    </div>
</div>

<div *ngIf="selectedLessonCertification">
    <div *ngIf="lessonCertificationList && lessonCertificationList.length>0">
        <div *ngIf="selectedLessonCertification">
            <div class=ui-g>
                <div class=ui-g-6>
                    <p>Группа: {{selectedLessonCertification.lesson.group.name}}</p>
                    <p>Специльность: {{selectedLessonCertification.lesson.group.speciality.name}}</p>
                    <p>Код специальности: {{selectedLessonCertification.lesson.group.speciality.code}} </p>
                    <p>Дисципоина: {{selectedLessonCertification.lesson.discipline.name}}</p>
                    <p>Тип аттестации: {{selectedLessonCertification.lessonCertificationType.name}}</p>
                </div>

                <div class="ui-g-6">
                    <p-table *ngIf="this.eventList" [value]="eventList">
                        <ng-template pTemplate="header">
                            <tr>
                                <th> Событие </th>
                                <th> Максимальный балл </th>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{item.event}}</td>
                                <td>{{item.value}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="ui-g">
                <p class="ui-g-6"> Вычислять общий балл только на основании текущей аттестации
                    <p-checkbox binary="true" [(ngModel)]="lessonCertificationCurrentOnly"></p-checkbox>
                </p>
                <div class="ui-inputgroup" *ngIf="!lessonCertificationCurrentOnly">
                    <span class="ui-inputgroup-addon">Максимальный аттестационный балл:</span>
                    <input type="number" [(ngModel)]="selectedLessonCertification.maxCertificationScore" pInputText>
                    <button pButton type="button" label="Сохранить" (click)="setMaxScore()"></button>
                </div>
                
            </div>
            <p-table [value]="lessonCertificationResultList">
                <ng-template pTemplate="header">
                    <tr>
                        <th [style.width]="'28%'">Студент</th>
                        <th [style.width]="'5%'">Текущий балл</th>
                        <th [style.width]="'10%'" disabled="!lessonCertificationCurrentOnly" >Аттестационный балл</th>
                        <th [style.width]="'5%'">Общий балл</th>
                        <th [style.width]="'5%'">Неявка</th>
                        <th [style.width]="'12%'">Дата</th>
                        <th [style.width]="'8%'"
                            *ngIf="selectedLessonCertification.lessonCertificationType.name==='Зачет'"> Зачет</th>
                        <th [style.width]="'8%'"
                            *ngIf="selectedLessonCertification.lessonCertificationType.name==='Экзамен'">Оценка</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td [style.width]="'28%'"> {{item.studentDTO.user.userFIO}}</td>
                        <td [style.width]="'5%'">{{this.getCurrentScore(item.studentDTO)}}</td>
                        <td [style.width]="'10%'" style="padding:0;">
                            <input 
                                listenInputCertification
                                [maxValue]="selectedLessonCertification.maxCertificationScore"
                                [style.width]="'100%'" type="number" *ngIf="!lessonCertificationCurrentOnly"
                                max={{selectedLessonCertification.maxCertificationScore}}
                                pInputText
                                min=0
                                [(ngModel)]="item.certificationScore">
                        </td>
                        <td [style.width]="'5%'">
                            {{this.getTotalScore(item)}}
                        </td>
                        <td [style.width]="'5%'">
                            <p-inputSwitch [(ngModel)]="item.absence"></p-inputSwitch>
                        <td [style.width]="'12%'" style="padding:0;">
                            <p-calendar 
                                dateFormat="dd-mm-yy"
                                [inputStyle]="{'width':'100%'}" 
                                [(ngModel)]="item.ratingDate">
                            </p-calendar>
                        </td>
                        <td [style.width]="'8%'"
                            *ngIf="selectedLessonCertification.lessonCertificationType.name==='Зачет'">
                               <p *ngIf="this.getTotalScore(item) >= 51" >Зачтено</p>
                               <p *ngIf="this.getTotalScore(item) < 51" >не зачтено</p>
                        </td>
                        <td [style.width]="'8%'"
                            *ngIf="selectedLessonCertification.lessonCertificationType.name==='Экзамен'">
                            <p> {{this.getMark(this.getTotalScore(item))}} </p>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <button pButton type="button" label="Сохранить" (click)="test()"></button>

    </div>

</div>